<div class="container-fluid bg-dark">
    <footer class="d-flex flex-wrap justify-content-between align-items-center border-top py-2">
        <div class="col-md-4 d-flex align-items-center">
            <a href="/" class="mb-3 me-2 mb-md-0 text-body-secondary text-decoration-none lh-1">
                <img src="/images/logo.jpg" alt="logo" class="rounded-circle" width="50" height="50"/>
            </a>
            <span class="mb-3 mb-md-0 link-light">&copy; 2024 Company, Inc</span>
        </div>
        <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
            <li class="ms-3"><a class="text-body-secondary" href="https://api.whatsapp.com/send?phone=584241289232&text=Gracias%20por%20contactar%20a%20Proyectos%20y%20Remodelaciones%20JR%20C.A%2C%20en%20breve%20momentos%20sera%20atendido.%20Feliz%20D%C3%ADa."><img width="50" height="50" src="https://img.icons8.com/external-tal-revivo-bold-tal-revivo/100/FFFFFF/external-whatsapp-messenger-is-a-freeware-cross-platform-messaging-and-voice-over-ip-service-logo-bold-tal-revivo.png" alt="external-whatsapp-messenger-is-a-freeware-cross-platform-messaging-and-voice-over-ip-service-logo-bold-tal-revivo"/></a></li>
        <li class="ms-3"><a class="text-body-secondary" href="https://www.instagram.com/proyectosrjr/"><img width="50" height="50" src="https://img.icons8.com/external-tal-revivo-bold-tal-revivo/50/FFFFFF/external-instagram-photo-and-video-sharing-social-networking-service-owned-by-facebook-logo-bold-tal-revivo.png" alt="external-instagram-photo-and-video-sharing-social-networking-service-owned-by-facebook-logo-bold-tal-revivo"/></a></li>
        </ul>
    </footer>
</div>
<%- include('footer'); -%>
