<%- include('partials/header'); -%>
<div>
    <img src="/images/poda-i-tala-2.jpg" alt="contactos" class="img-fluid w-per" style="height: 500px;">
</div>
<div class="container">
    <h1 class="mt-5 text-center">Proyectos y Remodelaciones Jr C.A.</h1>

    <div class="row mt-4">
        <div class="col-md-6">
            <img src="/images/equipo.png" class="img-fluid rounded" alt="Equipo de trabajo">
        </div>
        <div class="col-md-6">
            <p>Somos Proyectos y Remodelaciones Jr C.A., tu aliado confiable para transformar tus espacios exteriores. Con años de experiencia en el sector, nos especializamos en:</p>
            <ul>
                <li><strong>Remodelaciones de jardines:</strong> Diseñamos y construimos jardines a medida, adaptándonos a tus gustos y necesidades.</li>
                <li><strong>Mantenimiento de jardines:</strong> Mantenemos tus jardines siempre hermosos y saludables.</li>
                <li><strong>Jardinería:</strong> Ofrecemos servicios de jardinería integral, desde la siembra hasta el cuidado de tus plantas.</li>
                <li><strong>Paisajismo:</strong> Creamos espacios exteriores únicos y funcionales, combinando estética y funcionalidad.</li>
                <li><strong>Poda y tala de árboles:</strong> Realizamos trabajos de poda y tala de árboles de manera segura y eficiente.</li>
            </ul>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-md-12">
            <p>Nuestro equipo de profesionales altamente capacitados te brindará un servicio personalizado y de calidad. ¡Contáctanos y comienza a disfrutar de un jardín soñado!</p>
        </div>
    </div>
</div>
<%- include('partials/footer'); -%>