<%- include('partials/header'); -%>
  <div class="carousel-container carrusel-001">
    <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active" data-bs-interval="10000" height="50">
          <img src="/images/62034.webp" class="d-block w-100" alt="jardin">
          <div class="container">
            <div class="carousel-caption">
              <div class="bg-dark bg-opacity-50 rounded px-2 py-2">
                <h1>Jarneria</h1>
                <p>Transforma tu espacio exterior en un oasis. <br/>Ofrecemos servicios de diseño, plantación, poda
                  y fertilización <br/>para que tu jardín luzca siempre impecable.
                </p>
                <p><a class="btn btn-lg btn-primary bg-success border-success" href="/services/#gardening_service">Ver más</a></p>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item" data-bs-interval="10000">
          <img src="/images/tala.jpg" class="d-block w-100" alt="tala">
          <div class="container">
            <div class="carousel-caption">
              <div class="bg-dark bg-opacity-50 rounded px-2 py-2">
                <h1>Tala</h1>
                <p>Nuestros expertos se encargan de la tala de árboles de cualquier tamaño y altura,<br/>
                  garantizando la seguridad de tu propiedad y de quienes te rodean.<br/> Utilizamos técnicas avanzadas para minimizar el impacto ambiental.
                </p>
                <p><a class="btn btn-lg btn-primary bg-success border-success" href="/services/#felling_service">Ver más</a></p>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item" data-bs-interval="10000">
          <img src="/images/podadora.avif" class="d-block w-100" alt="podadora">
          <div class="container">
            <div class="carousel-caption">
              <div class="bg-dark bg-opacity-50 rounded px-2 py-2">
                <h1>Mantenimiento</h1>
                <p>Mantenemos tus áreas verdes en óptimas condiciones durante todo el año.<br/> Nuestros servicios incluyen corte de césped, riego, limpieza de hojas, poda de arbustos y más.</p>
                <p><a class="btn btn-lg btn-primary bg-success border-success" href="/services/#maintenance_service">Ver más</a></p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>
<%- include('partials/footer'); -%>
