<%- include('partials/header'); -%>
    <div>
        <img src="/images/jardin-s.jpg" alt="contactos" class="img-fluid w-per" style="height: 500px;">
    </div>
    <div class="container">
        <br/>
        <div class="text-center">
            <h1>Nuestros Servicios</h1>
        </div>
        <br/>
        <hr class="featurette-divider">
      
        <div class="row featurette" id="gardening_service">
          <div class="col-md-7">
            <h2 class="featurette-heading fw-normal lh-1">Diseño y mantenimiento de jardines</h2>
            <p class="lead">Transforma tu espacio exterior en un oasis de tranquilidad y belleza. Nuestros paisajistas expertos diseñarán y crearán un jardín a medida, adaptado a tus gustos y necesidades. Desde jardines pequeños y acogedores hasta grandes espacios verdes, te ofrecemos soluciones personalizadas.</p>
            <ul>
              <li>**Diseño personalizado:** Creamos diseños únicos y originales que reflejan tu estilo personal.</li>
              <li>**Selección de plantas:** Te asesoramos en la elección de plantas adecuadas para tu clima y suelo, garantizando su crecimiento y belleza.</li>
              <li>**Instalación profesional:** Nuestros equipos de jardinería se encargan de la instalación de plantas, césped, sistemas de riego y elementos decorativos.</li>
              <li>**Mantenimiento integral:** Ofrecemos planes de mantenimiento personalizados para mantener tu jardín siempre impecable.</li>
            </ul>
            <a href="/contact" class="btn btn-primary bg-success border-success">Contrata nuestro servicio sin compromiso</a>
          </div>
          <div class="col-md-5">
            <img src="/images/service_1.jpg" alt="Servicio de Jardinería" width="500" height="500" class="img-fluid">
          </div>
        </div>
      
        <hr class="featurette-divider">
      
        <div class="row featurette" id="felling_service">
            <div class="col-md-7 order-md-2">
                <h2 class="featurette-heading fw-normal lh-1">Tala de árboles: Expertos en altura y seguridad</h2>
                <p class="lead">¿Tienes un árbol que representa un peligro para tu hogar o propiedad? Contamos con un equipo altamente capacitado y experimentado en la tala de árboles de cualquier tamaño y especie. Utilizamos técnicas de escalada y equipos especializados para garantizar la seguridad de tu entorno y evitar daños a estructuras cercanas.</p>
                <ul>
                <li>**Seguridad:** Nuestros arboristas certificados evalúan cada árbol y desarrollan un plan de trabajo personalizado para minimizar riesgos.</li>
                <li>**Precisión:** Empleamos técnicas de corte de precisión para evitar daños a propiedades y garantizar un acabado limpio.</li>
                <li>**Rapidez:** Realizamos los trabajos de tala de manera eficiente, minimizando las molestias para ti y tus vecinos.</li>
                <li>**Limpieza:** Retiramos todos los residuos de la tala, dejando tu jardín limpio y ordenado.</li>
                </ul>
                <a href="/contact" class="btn btn-primary bg-success border-success">Contáctanos hoy mismo</a>
            </div>
            <div class="col-md-5 order-md-1">
                <img src="/images/service_2.jpeg" alt="Servicio de Tala" width="500" height="500" class="img-fluid">
            </div>
        </div>
      
        <hr class="featurette-divider">
      
        <div class="row featurette" id="maintenance_service">
            <div class="col-md-7">
                <h2 class="featurette-heading fw-normal lh-1">Disfruta de un jardín siempre verde</h2>
                <p class="lead">Delega el cuidado de tu jardín en manos de profesionales. Nuestro equipo se encargará de todas las tareas de mantenimiento, permitiéndote disfrutar de tu espacio sin preocupaciones.</p>
                <ul>
                <li>**Ahorro de tiempo:** Libera tu tiempo para disfrutar de otras actividades.</li>
                <li>**Experiencia:** Nuestros jardineros cuentan con la experiencia y los conocimientos necesarios para cuidar de tus plantas.</li>
                <li>**Salud de tus plantas:** Realizamos fertilizaciones, tratamientos preventivos y podas regulares para mantener tus plantas saludables.</li>
                <li>**Estética:** Mantenemos tu jardín siempre ordenado y atractivo.</li>
                </ul>
                <a href="/contact" class="btn btn-primary bg-success border-success">Contrata nuestro servicio de mantenimiento</a>
            </div>
            <div class="col-md-5">
                <img src="/images/service_3.jpg" alt="Servicio de Mantenimiento" width="500" height="500" class="img-fluid">
            </div>
        </div>

        <hr class="featurette-divider">
    </div>

<%- include('partials/second'); -%>